.container-wrapper {
    height: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 300px;
}
.conatiner{
	width: 1000px;
}
.home-image {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#login-box {
    width: 50%;
    margin: auto;
    margin-top:70px;
}

#login-container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}